app = 'rchab'
primary_region = 'ams'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[build]

[env]
  ALLOW_ORG_SLUG = 'fly'
  DATA_DIR = '/data'
  LOG_LEVEL = 'info'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.http_options]
    h2_backend = true
    
  [http_service.tls_options]
    alpn = ['h2']



[[vm]]
  memory = '4gb'
  cpu_kind = 'shared'
  cpus = 4

[[metrics]]
  port = 9323
  path = '/metrics'
