{
  "name": "rchab-buildpacks-nodejs-fixture",
  "version": "1.0.0",
  "private": true,
  "engines": {
    "node": "${RUNTIME_VERSION}"
  },
  "scripts": {
    "start": "node index.js"
  },
  "dependencies": {}
}
