GEM
  remote: https://rubygems.org/
  specs:
    nio4r (2.7.0)
    puma (6.4.3)
      nio4r (~> 2.0)
    rack (3.0.11)
    rackup (2.1.0)
      rack (>= 3)
      webrick (~> 1.8)
    webrick (1.8.2)

PLATFORMS
  ruby

DEPENDENCIES
  puma (~> 6.4)
  rack (~> 3.0)
  rackup (~> 2.1)

RUBY VERSION
   ruby ${RUNTIME_VERSION}

BUNDLED WITH
   2.5.6
